// Created by ibarron on 12/30/15.
extends layout
- console.log('yo')

block content
    if menuType === 'fixed'
        include components/navbar/navbar-sticky
    else if menuType === 'float'
        include components/navbar/navbar-float
    else
        include components/navbar/navbar-fixed
