// Created by ibarron on 12/30/15.
extends layout
- console.log('yo')

block content
    h1= title
    h1= menuType

    if(menuType === 'fixed')
        include components/menu-fixed
    else if (menuType === 'float')
        include components/menu-flaot
